

body {
    font-family: Helvetica, sans-serif;
    background: red;
}


.content{
    display: flex;
    flex-direction: column;
}

#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
    margin: 15px;
    
}

#cmdButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

#gameAction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

#pokeInfo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    border: inset black;
}

#battleLog {
    display: flex;
    flex-grow: 3;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    border: inset black;
}

#chat {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    border: inset black;
}

#chatLog {
    height: 90%;
    background: gray;
    width: auto;
}

.actionBtn{
     border-radius: 5px;
      background-color: #8c8e91;
      margin-left: 10px;
      margin-right: 10px;
      padding: 5px;
}