

body {
    font-family: Helvetica, sans-serif;
    background: red;
}


.content{
    display: flex;
    flex-direction: column;
}

#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
    margin: 15px;
    
}

#cmdBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

#gameAction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

.actionBtn{
     border-radius: 5px;
      background-color: #8c8e91;
      margin-left: 10px;
      margin-right: 10px;
      padding: 5px;
}