<html>
    <head>
    </head>
    <body>
        
        <meta
            name="google-signin-scope"
            content="profile email" />
        <meta
            name="google-signin-client_id"
            content="336555886453-86kgeo7jp5l24v700thepj1e0l693tcf.apps.googleusercontent.com" />
        <script src="https://apis.google.com/js/platform.js" async defer>
        </script>
       <script>
       // 403750176655450 testing
       // 235687590224657 prod
            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '235687590224657',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v2.8'
                });
                FB.AppEvents.logPageView();
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
        </script>
        
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
        
    </body>
</html>