<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/PBA.css">
    </head>
    <body>
        <h1 align = center>Pokemon Battling Application</h1>
        
        <script>
        window.fbAsyncInit = function() {
        FB.init({
        appId      : '401135070248063',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
        });
        FB.AppEvents.logPageView();   
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id ="content">
            <div id="info">
                    <div id="pokeInfo" style="flex-grow: 1;  border: inset black;" align="center">pokemon info div</div>
                    <div id="battleLog" style="flex-grow: 3;  border: inset black;" align="center">battle log div</div>
                    <div id="chat" style="flex-grow: 1;  border: inset black;" align="center">chat div</div>
                </div>
                <div id="cmdBtn">
                    <div class="actionBtn"><input type="submit" value="Move1"></div>
                    <div class="actionBtn"><input type="submit" value="Move2"></div>
                    <div class="actionBtn"><input type="submit" value="Move3"></div>
                    <div class="actionBtn"><input type="submit" value="Move4"></div>
                </div>
                <div id="gameAction">
                    <div class="actionBtn"><input type="submit" value="Switch"></div>
                    <div class="actionBtn"><input type="submit" value="Surrender"></div>
                </div>
        </div>
        
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>