<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="../static/css/PBA.css">
    
    </head>
    <body>
        <h1 id = "headingTitle" align = center>Pokemon Battling Application</h1>
        
        <script>
        window.fbAsyncInit = function() {
        FB.init({
        appId      : '114204082461771',
        cookie     : true,
        xfbml      : true,
        version    : 'v2.8'
        });
        FB.AppEvents.logPageView();   
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <div id ="content"></div>
        
        <script type="text/javascript" src="../static/script.js"></script>
    </body>
</html>