<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="../static/css/PBA.css">
    
    </head>
    <body>
        <div id="pageHeader"><h1 align = center><div id="PBAtext"><img src="../static/img/PBALogo.png" alt="PBA logo"></div><div id="StadiumText">Stadium</div></h1></div>
        
        <div id ="content"></div>
        
        <script></script>
        <script type="text/javascript" src="../static/script.js"></script>
    </body>
</html>