<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>Cacute</key>
	<string>C_acute.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gcommaaccent</key>
	<string>G_commaaccent.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>I_acute.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Idieresis</key>
	<string>I_dieresis.glif</string>
	<key>Igrave</key>
	<string>I_grave.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>L_acute.glif</string>
	<key>Lcaron</key>
	<string>L_caron.glif</string>
	<key>Lcommaaccent</key>
	<string>L_commaaccent.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Oacute</key>
	<string>O_acute.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Ograve</key>
	<string>O_grave.glif</string>
	<key>Ohungarumlaut</key>
	<string>O_hungarumlaut.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Otilde</key>
	<string>O_tilde.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P_K_M_N.liga</key>
	<string>P__K__M__N_.liga.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>R_acute.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Rcommaaccent</key>
	<string>R_commaaccent.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>S_acute.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>T_bar.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>U_acute.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Ugrave</key>
	<string>U_grave.glif</string>
	<key>Uhungarumlaut</key>
	<string>U_hungarumlaut.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>Uring</key>
	<string>U_ring.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>W_acute.glif</string>
	<key>Wcircumflex</key>
	<string>W_circumflex.glif</string>
	<key>Wdieresis</key>
	<string>W_dieresis.glif</string>
	<key>Wgrave</key>
	<string>W_grave.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ycircumflex</key>
	<string>Y_circumflex.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Ygrave</key>
	<string>Y_grave.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a-hira</key>
	<string>a-hira.glif</string>
	<key>a-kata</key>
	<string>a-kata.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asmall-hira</key>
	<string>asmall-hira.glif</string>
	<key>asmall-kata</key>
	<string>asmall-kata.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>ba-hira</key>
	<string>ba-hira.glif</string>
	<key>ba-kata</key>
	<string>ba-kata.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>be-hira</key>
	<string>be-hira.glif</string>
	<key>be-kata</key>
	<string>be-kata.glif</string>
	<key>bi-hira</key>
	<string>bi-hira.glif</string>
	<key>bi-kata</key>
	<string>bi-kata.glif</string>
	<key>bo-hira</key>
	<string>bo-hira.glif</string>
	<key>bo-kata</key>
	<string>bo-kata.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>bu-hira</key>
	<string>bu-hira.glif</string>
	<key>bu-kata</key>
	<string>bu-kata.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caroncomb</key>
	<string>caroncomb.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccentcomb</key>
	<string>commaaccentcomb.glif</string>
	<key>commaturnedabovecomb</key>
	<string>commaturnedabovecomb.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>da-hira</key>
	<string>da-hira.glif</string>
	<key>da-kata</key>
	<string>da-kata.glif</string>
	<key>dblhyphen-kana</key>
	<string>dblhyphen-kana.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>de-hira</key>
	<string>de-hira.glif</string>
	<key>de-kata</key>
	<string>de-kata.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>di-hira</key>
	<string>di-hira.glif</string>
	<key>di-kata</key>
	<string>di-kata.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>digraphkoto-kata</key>
	<string>digraphkoto-kata.glif</string>
	<key>digraphyori-hira</key>
	<string>digraphyori-hira.glif</string>
	<key>do-hira</key>
	<string>do-hira.glif</string>
	<key>do-kata</key>
	<string>do-kata.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dot-kata</key>
	<string>dot-kata.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>downBlackTriangle</key>
	<string>downB_lackT_riangle.glif</string>
	<key>du-hira</key>
	<string>du-hira.glif</string>
	<key>du-kata</key>
	<string>du-kata.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>e-hira</key>
	<string>e-hira.glif</string>
	<key>e-kata</key>
	<string>e-kata.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>esmall-hira</key>
	<string>esmall-hira.glif</string>
	<key>esmall-kata</key>
	<string>esmall-kata.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>female</key>
	<string>female.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>ga-hira</key>
	<string>ga-hira.glif</string>
	<key>ga-kata</key>
	<string>ga-kata.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>ge-hira</key>
	<string>ge-hira.glif</string>
	<key>ge-kata</key>
	<string>ge-kata.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>gi-hira</key>
	<string>gi-hira.glif</string>
	<key>gi-kata</key>
	<string>gi-kata.glif</string>
	<key>go-hira</key>
	<string>go-hira.glif</string>
	<key>go-kata</key>
	<string>go-kata.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gu-hira</key>
	<string>gu-hira.glif</string>
	<key>gu-kata</key>
	<string>gu-kata.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>ha-hira</key>
	<string>ha-hira.glif</string>
	<key>ha-kata</key>
	<string>ha-kata.glif</string>
	<key>he-hira</key>
	<string>he-hira.glif</string>
	<key>he-kata</key>
	<string>he-kata.glif</string>
	<key>hi-hira</key>
	<string>hi-hira.glif</string>
	<key>hi-kata</key>
	<string>hi-kata.glif</string>
	<key>ho-hira</key>
	<string>ho-hira.glif</string>
	<key>ho-kata</key>
	<string>ho-kata.glif</string>
	<key>hu-hira</key>
	<string>hu-hira.glif</string>
	<key>hu-kata</key>
	<string>hu-kata.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i-hira</key>
	<string>i-hira.glif</string>
	<key>i-kata</key>
	<string>i-kata.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>ismall-hira</key>
	<string>ismall-hira.glif</string>
	<key>ismall-kata</key>
	<string>ismall-kata.glif</string>
	<key>iteration-hira</key>
	<string>iteration-hira.glif</string>
	<key>iteration-kata</key>
	<string>iteration-kata.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>ka-hira</key>
	<string>ka-hira.glif</string>
	<key>ka-kata</key>
	<string>ka-kata.glif</string>
	<key>kasmall-hira</key>
	<string>kasmall-hira.glif</string>
	<key>kasmall-kata</key>
	<string>kasmall-kata.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>ke-hira</key>
	<string>ke-hira.glif</string>
	<key>ke-kata</key>
	<string>ke-kata.glif</string>
	<key>kesmall-hira</key>
	<string>kesmall-hira.glif</string>
	<key>kesmall-kata</key>
	<string>kesmall-kata.glif</string>
	<key>ki-hira</key>
	<string>ki-hira.glif</string>
	<key>ki-kata</key>
	<string>ki-kata.glif</string>
	<key>ko-hira</key>
	<string>ko-hira.glif</string>
	<key>ko-kata</key>
	<string>ko-kata.glif</string>
	<key>ku-hira</key>
	<string>ku-hira.glif</string>
	<key>ku-kata</key>
	<string>ku-kata.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>ma-hira</key>
	<string>ma-hira.glif</string>
	<key>ma-kata</key>
	<string>ma-kata.glif</string>
	<key>macroncomb</key>
	<string>macroncomb.glif</string>
	<key>male</key>
	<string>male.glif</string>
	<key>me-hira</key>
	<string>me-hira.glif</string>
	<key>me-kata</key>
	<string>me-kata.glif</string>
	<key>mi-hira</key>
	<string>mi-hira.glif</string>
	<key>mi-kata</key>
	<string>mi-kata.glif</string>
	<key>mo-hira</key>
	<string>mo-hira.glif</string>
	<key>mo-kata</key>
	<string>mo-kata.glif</string>
	<key>mu-hira</key>
	<string>mu-hira.glif</string>
	<key>mu-kata</key>
	<string>mu-kata.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>n-hira</key>
	<string>n-hira.glif</string>
	<key>n-kata</key>
	<string>n-kata.glif</string>
	<key>na-hira</key>
	<string>na-hira.glif</string>
	<key>na-kata</key>
	<string>na-kata.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>ne-hira</key>
	<string>ne-hira.glif</string>
	<key>ne-kata</key>
	<string>ne-kata.glif</string>
	<key>ni-hira</key>
	<string>ni-hira.glif</string>
	<key>ni-kata</key>
	<string>ni-kata.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>no-hira</key>
	<string>no-hira.glif</string>
	<key>no-kata</key>
	<string>no-kata.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>nu-hira</key>
	<string>nu-hira.glif</string>
	<key>nu-kata</key>
	<string>nu-kata.glif</string>
	<key>numero</key>
	<string>numero.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>o-hira</key>
	<string>o-hira.glif</string>
	<key>o-kata</key>
	<string>o-kata.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>osmall-hira</key>
	<string>osmall-hira.glif</string>
	<key>osmall-kata</key>
	<string>osmall-kata.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>pa-hira</key>
	<string>pa-hira.glif</string>
	<key>pa-kata</key>
	<string>pa-kata.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>pe-hira</key>
	<string>pe-hira.glif</string>
	<key>pe-kata</key>
	<string>pe-kata.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period-han</key>
	<string>period-han.glif</string>
	<key>pi-hira</key>
	<string>pi-hira.glif</string>
	<key>pi-kata</key>
	<string>pi-kata.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>po-hira</key>
	<string>po-hira.glif</string>
	<key>po-kata</key>
	<string>po-kata.glif</string>
	<key>prolonged-kana</key>
	<string>prolonged-kana.glif</string>
	<key>pu-hira</key>
	<string>pu-hira.glif</string>
	<key>pu-kata</key>
	<string>pu-kata.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>quotesingle_d.liga</key>
	<string>quotesingle_d.liga.glif</string>
	<key>quotesingle_l.liga</key>
	<string>quotesingle_l.liga.glif</string>
	<key>quotesingle_m.liga</key>
	<string>quotesingle_m.liga.glif</string>
	<key>quotesingle_r.liga</key>
	<string>quotesingle_r.liga.glif</string>
	<key>quotesingle_s.liga</key>
	<string>quotesingle_s.liga.glif</string>
	<key>quotesingle_t.liga</key>
	<string>quotesingle_t.liga.glif</string>
	<key>quotesingle_v.liga</key>
	<string>quotesingle_v.liga.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>ra-hira</key>
	<string>ra-hira.glif</string>
	<key>ra-kata</key>
	<string>ra-kata.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>re-hira</key>
	<string>re-hira.glif</string>
	<key>re-kata</key>
	<string>re-kata.glif</string>
	<key>replacementCharacter</key>
	<string>replacementC_haracter.glif</string>
	<key>ri-hira</key>
	<string>ri-hira.glif</string>
	<key>ri-kata</key>
	<string>ri-kata.glif</string>
	<key>rightBlackTriangle</key>
	<string>rightB_lackT_riangle.glif</string>
	<key>rightWhiteTriangle</key>
	<string>rightW_hiteT_riangle.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ro-hira</key>
	<string>ro-hira.glif</string>
	<key>ro-kata</key>
	<string>ro-kata.glif</string>
	<key>ru-hira</key>
	<string>ru-hira.glif</string>
	<key>ru-kata</key>
	<string>ru-kata.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sa-hira</key>
	<string>sa-hira.glif</string>
	<key>sa-kata</key>
	<string>sa-kata.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>se-hira</key>
	<string>se-hira.glif</string>
	<key>se-kata</key>
	<string>se-kata.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semivoiced-kana</key>
	<string>semivoiced-kana.glif</string>
	<key>semivoicedcomb-kana</key>
	<string>semivoicedcomb-kana.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>si-hira</key>
	<string>si-hira.glif</string>
	<key>si-kata</key>
	<string>si-kata.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slashlongcomb</key>
	<string>slashlongcomb.glif</string>
	<key>slashshortcomb</key>
	<string>slashshortcomb.glif</string>
	<key>so-hira</key>
	<string>so-hira.glif</string>
	<key>so-kata</key>
	<string>so-kata.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>strokeshortcomb</key>
	<string>strokeshortcomb.glif</string>
	<key>su-hira</key>
	<string>su-hira.glif</string>
	<key>su-kata</key>
	<string>su-kata.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>ta-hira</key>
	<string>ta-hira.glif</string>
	<key>ta-kata</key>
	<string>ta-kata.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>te-hira</key>
	<string>te-hira.glif</string>
	<key>te-kata</key>
	<string>te-kata.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>ti-hira</key>
	<string>ti-hira.glif</string>
	<key>ti-kata</key>
	<string>ti-kata.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>to-hira</key>
	<string>to-hira.glif</string>
	<key>to-kata</key>
	<string>to-kata.glif</string>
	<key>tu-hira</key>
	<string>tu-hira.glif</string>
	<key>tu-kata</key>
	<string>tu-kata.glif</string>
	<key>tusmall-hira</key>
	<string>tusmall-hira.glif</string>
	<key>tusmall-kata</key>
	<string>tusmall-kata.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>u-hira</key>
	<string>u-hira.glif</string>
	<key>u-kata</key>
	<string>u-kata.glif</string>
	<key>u_n_o_w_n_a.liga</key>
	<string>u_n_o_w_n_a.liga.glif</string>
	<key>u_n_o_w_n_b.liga</key>
	<string>u_n_o_w_n_b.liga.glif</string>
	<key>u_n_o_w_n_c.liga</key>
	<string>u_n_o_w_n_c.liga.glif</string>
	<key>u_n_o_w_n_d.liga</key>
	<string>u_n_o_w_n_d.liga.glif</string>
	<key>u_n_o_w_n_e.liga</key>
	<string>u_n_o_w_n_e.liga.glif</string>
	<key>u_n_o_w_n_f.liga</key>
	<string>u_n_o_w_n_f.liga.glif</string>
	<key>u_n_o_w_n_g.liga</key>
	<string>u_n_o_w_n_g.liga.glif</string>
	<key>u_n_o_w_n_h.liga</key>
	<string>u_n_o_w_n_h.liga.glif</string>
	<key>u_n_o_w_n_i.liga</key>
	<string>u_n_o_w_n_i.liga.glif</string>
	<key>u_n_o_w_n_j.liga</key>
	<string>u_n_o_w_n_j.liga.glif</string>
	<key>u_n_o_w_n_k.liga</key>
	<string>u_n_o_w_n_k.liga.glif</string>
	<key>u_n_o_w_n_l.liga</key>
	<string>u_n_o_w_n_l.liga.glif</string>
	<key>u_n_o_w_n_m.liga</key>
	<string>u_n_o_w_n_m.liga.glif</string>
	<key>u_n_o_w_n_n.liga</key>
	<string>u_n_o_w_n_n.liga.glif</string>
	<key>u_n_o_w_n_o.liga</key>
	<string>u_n_o_w_n_o.liga.glif</string>
	<key>u_n_o_w_n_p.liga</key>
	<string>u_n_o_w_n_p.liga.glif</string>
	<key>u_n_o_w_n_q.liga</key>
	<string>u_n_o_w_n_q.liga.glif</string>
	<key>u_n_o_w_n_r.liga</key>
	<string>u_n_o_w_n_r.liga.glif</string>
	<key>u_n_o_w_n_s.liga</key>
	<string>u_n_o_w_n_s.liga.glif</string>
	<key>u_n_o_w_n_t.liga</key>
	<string>u_n_o_w_n_t.liga.glif</string>
	<key>u_n_o_w_n_u.liga</key>
	<string>u_n_o_w_n_u.liga.glif</string>
	<key>u_n_o_w_n_v.liga</key>
	<string>u_n_o_w_n_v.liga.glif</string>
	<key>u_n_o_w_n_w.liga</key>
	<string>u_n_o_w_n_w.liga.glif</string>
	<key>u_n_o_w_n_x.liga</key>
	<string>u_n_o_w_n_x.liga.glif</string>
	<key>u_n_o_w_n_y.liga</key>
	<string>u_n_o_w_n_y.liga.glif</string>
	<key>u_n_o_w_n_z.liga</key>
	<string>u_n_o_w_n_z.liga.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni5186</key>
	<string>uni5186.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>upBlackTriangle</key>
	<string>upB_lackT_riangle.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>usmall-hira</key>
	<string>usmall-hira.glif</string>
	<key>usmall-kata</key>
	<string>usmall-kata.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>va-kata</key>
	<string>va-kata.glif</string>
	<key>ve-kata</key>
	<string>ve-kata.glif</string>
	<key>vi-kata</key>
	<string>vi-kata.glif</string>
	<key>vo-kata</key>
	<string>vo-kata.glif</string>
	<key>voiced-kana</key>
	<string>voiced-kana.glif</string>
	<key>voicedcomb-kana</key>
	<string>voicedcomb-kana.glif</string>
	<key>voicediteration-hira</key>
	<string>voicediteration-hira.glif</string>
	<key>voicediteration-kata</key>
	<string>voicediteration-kata.glif</string>
	<key>vu-hira</key>
	<string>vu-hira.glif</string>
	<key>vu-kata</key>
	<string>vu-kata.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wa-hira</key>
	<string>wa-hira.glif</string>
	<key>wa-kata</key>
	<string>wa-kata.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wasmall-hira</key>
	<string>wasmall-hira.glif</string>
	<key>wasmall-kata</key>
	<string>wasmall-kata.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>we-hira</key>
	<string>we-hira.glif</string>
	<key>we-kata</key>
	<string>we-kata.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>wi-hira</key>
	<string>wi-hira.glif</string>
	<key>wi-kata</key>
	<string>wi-kata.glif</string>
	<key>wo-hira</key>
	<string>wo-hira.glif</string>
	<key>wo-kata</key>
	<string>wo-kata.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>ya-hira</key>
	<string>ya-hira.glif</string>
	<key>ya-kata</key>
	<string>ya-kata.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>yasmall-hira</key>
	<string>yasmall-hira.glif</string>
	<key>yasmall-kata</key>
	<string>yasmall-kata.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>yo-hira</key>
	<string>yo-hira.glif</string>
	<key>yo-kata</key>
	<string>yo-kata.glif</string>
	<key>yosmall-hira</key>
	<string>yosmall-hira.glif</string>
	<key>yosmall-kata</key>
	<string>yosmall-kata.glif</string>
	<key>yu-hira</key>
	<string>yu-hira.glif</string>
	<key>yu-kata</key>
	<string>yu-kata.glif</string>
	<key>yusmall-hira</key>
	<string>yusmall-hira.glif</string>
	<key>yusmall-kata</key>
	<string>yusmall-kata.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>za-hira</key>
	<string>za-hira.glif</string>
	<key>za-kata</key>
	<string>za-kata.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>ze-hira</key>
	<string>ze-hira.glif</string>
	<key>ze-kata</key>
	<string>ze-kata.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zi-hira</key>
	<string>zi-hira.glif</string>
	<key>zi-kata</key>
	<string>zi-kata.glif</string>
	<key>zo-hira</key>
	<string>zo-hira.glif</string>
	<key>zo-kata</key>
	<string>zo-kata.glif</string>
	<key>zu-hira</key>
	<string>zu-hira.glif</string>
	<key>zu-kata</key>
	<string>zu-kata.glif</string>
</dict>
</plist>
